{% block style %}
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ asset('assets/css/style.css')}}">
{% endblock %}
<div id="container-sidebar">
	<nav id="sidebar" class="bg-red">
		<div class="custom-menu">
			<button type="button" id="sidebarCollapse" class="btn btn-primary"></button>
		</div>
		{% if sideBar.customProfil.pictureProfil != null %}
			{% set pictureProfil = sideBar.customProfil.pictureProfil %}
			{% set pathPictureProfil = "uploads/picturesProfile/"%}
		{% else %}
			{% set pathPictureProfil = 'assets/images/'%}
			{% set pictureProfil = 'logo.jpg' %}
		{% endif %}

		{% if sideBar.customProfil.pictureProfilBackground != null %}
			{% set pictureProfilBackground = sideBar.customProfil.pictureProfilBackground %}
		{% else %}
			{% set pictureProfilBackground = 'assets/images/bg_1.jpg' %}
		{% endif %}

		<div class="img bg-wrap text-center py-4" style="background-image: url('{{ asset(pictureProfilBackground)}}');">
			<div class="user-logo">
				<div class="img" style="background-image: url(' {{ asset( pathPictureProfil ~ pictureProfil ) }}');">
					<span type="button" class="fa fa-paint-brush d-flex align-items-end flex-column mb-3" data-toggle="modal" data-target="#ModalCenter"></span>
				</div>
				<h3>{{ app.user.firstName }}
					{{ app.user.lastName }}</h3>
			</div>
		</div>
		<ul class="list-unstyled components mb-5">
			<li>
				<a href="{{ path("profile_index")}}">
					<span class="fa fa-home mr-3"></span>
					Home</a>
			</li>
			<li>
				<a href="#">
					<span class="fa fa-download mr-3 notif">
						<small class="d-flex align-items-center justify-content-center">5</small>
					</span>
					Notifications(todo)</a>
			</li>
			<li>
				<a href="{{ path("app_custom") }}">
					<span class="fa fa-paint-brush mr-3"></span>
					Personnalisation</a>
			</li>
			<li>
				<a href="{{path("app_add_user")}}">
					<span class="fa fa-trophy mr-3"></span>
					Mes clients(todo)</a>
			</li>
			<li>
				<a href="#">
					<span class="fa fa-cog mr-3"></span>
					Settings(todo)</a>
			</li>
			<li>
				<a href="#">
					<span class="fa fa-support mr-3"></span>
					Support(todo)</a>
			</li>
			<li>
				<a href="{{ path("app_logout")}}">
					<span class="fa fa-sign-out mr-3"></span>
					Deconnexion</a>
			</li>
		</ul>
	</nav>
	<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Personnalisation profil</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{{ form_start(sideBar.pictureProfilView)}}
					<label>Changer la photo de profil</label>
					{{ form_widget(sideBar.pictureProfilView.pictureProfil, {'attr': {'class': 'form-control'}}) }}

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
					<button type="submit" class="btn btn-primary">Sauvegarder</button>
				</div>
				{{ form_end(sideBar.pictureProfilView)}}
			</div>
		</div>
	</div>
</div>

{% block javascript %}
	<script src="{{asset('assets/js/jquery.min.js')}}"></script>
	<script src="{{asset('assets/js/popper.js')}}"></script>
	<script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
	<script src="{{asset('assets/js/main.js')}}"></script>
{% endblock %}
